[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git@github.com:wincent/Command-T.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim
